


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


.first-section { 
  align-items: center;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
}
.first-section img {
  position: relative;
  width: 100%;
  height: 100vh;
  opacity: 40%;
  
  
}
.first-section p {
  position: absolute;
  color: white;
  z-index: 10;
  font-size: 2em;
  font-family: "Orbitron", sans-serif;
}

body{
  margin: 0;
    background-color: rgb(200, 228, 248);
    color: #161717;
    height:auto;
    min-height:100vh;
}
/* Container styling */
.container {
    font-family: "Bebas Neue", sans-serif;
    max-width: 100vw;
    margin-left: 12;
    margin-right: auto;
}

.title {
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 2em;
}

.login-button-link {
  background-color: #575ead; 
  color: white;
  
  border: none;
  border-radius: 15px; 
  padding: 40px 40px;
  cursor: pointer;
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Montserrat';
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  
  display: inline-block;
  text-decoration: none;
}
.login-button-link:hover {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.scherm img {
  width: 90%;
  height: auto;
  

}
